@charset "UTF-8";

*{
       margin: 0;
       padding: 0;
    }
    
/* 웹 폰트 */
@font-face {
    font-family: 'NG';
    src: url("/studyhtml/font/NanumGothic.woff") format('woff');
}

@font-face {
    font-family: 'NGB';
    src: url("/studyhtml/font/NanumGothicBold.woff") format('woff');
}

@font-face {
    font-family: 'NGEB';
    src: url("/studyhtml/font/NanumGothicExtraBold.woff") format('woff');
}

html{
    font-family: NG;
}

    table{
        width: 600px;
        border-collapse: collapse;
    }
    
    td, th{
        border-bottom: 1px solid lightgrey;
        padding: 5px;
    }
    
    th{
        background: grey;
        color: #fff;
    }
    
input[type="text"]
input[type="password"]{
  height: auto; 
  vertical-align: middle;
}
select{
  height: 20px;
  vertical-align: middle;
}